html{
    cursor:none;
}
.cursor {
    pointer-events: none;
    position: fixed;
    z-index: 1000;
}

.cursor__ball {
    border-radius: 50%;
    position: absolute;
    background-color: #f7f8fa;
}

.cursor__ball--big {
    height: 30px;
    width: 30px;
}

.cursor__ball--small {
    height: 10px;
    width: 10px;
}

.hoverable {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ddd;
    cursor: pointer;
}
  

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Press Start 2P' ;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
    
}

.content-section {
    width: 1724px;
    height: 2234px;
    left: 0;
    top: 0;
    position: absolute;
}

.communication-designer-section {
    width: 2713px;
    height: 141px;
    left: 4px;
    top: 1892px;
}


.grid-background {
    background-image: url('images/website\ bg.png');
    background-size: cover;
}

.footer{
    background-color: #fff;
    color: blueviolet;
}

.display-1.heading-font {
    font-family: 'Press Start 2p';
    font-size:200px ;
}

.navbar-brand.heading-font{
    font-family: 'clash display';
    color: #fff;
    font-size: 25px;
}

.d-flex{
    font-family: "clash display";
    font-size: 25px;
}

.d-flex a:hover{
    color: black;
}

#hero{
    font-family: 'Press Start 2p';
    font-size: 50px;
    padding-bottom: 300px;
}


#about{
    font-family: 'clash display';
    text-align: right;
}

.flex-container{
    display:flex;
    position: absolute;
    
}

.shape-container{
    width:800px;
    height:800px;
    background: #fff;
    display:flow-root;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    transform: rotate(-45deg);
    transform-origin:0 100%;
    position: relative;
    padding-top: 200px;

}


.AMhead{
    text-align: right;
    font-size: 40px;
    display:contents;
}

.p{
    font-size: 50px;
}

.AMimage{
    padding: 20px;
}


